:root {
  --body-color: #ffffff; /* общий фон */

  --title-color: #17183b; /* цвет заголовков */
  --subtitle-color: #383c42; /* цвет подзаголовков */

  --nav-link-color: #6e7175; /* цвет ссылок в навигации */

  --accent-color: #e9eaf0; /* основной цвет тем */

  --bg-hover: #f7f7f7;
  --border-color: #d1d1d8; /* основной цвет рамок */
}

body {
  margin: 0;
}

main {
  margin: 0;
  padding: 70px 0;
  background-image: url(../public/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  position: relative;
  min-height: 78vh;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  background-color: #c3c7ca;
  border: 0;
  border-radius: 12px;
  color: #34444f;
  font-size: 16px;
  padding: 12px 24px;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #34444f;
  color: #c3c7ca;
}

button:active {
  transform: scale(1);
}

input[type="text"] {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
  height: 40px;
  font-size: 28px;
  width: 400px;
  border-radius: 12px;
  border: 1px solid #c3c7ca;
  background-color: #c3c7ca;
  color: #34444f;
}

input[type="text"]:hover {
  background-color: white;
}

input[type="submit"] {
  background-color: rgba(32, 40, 62, 0.6);
  border: 0;
  border-radius: 12px;
  color: #7e878f;
  font-size: 16px;
  padding: 12px 24px;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
}

input[type="submit"]:hover {
  background-color: rgba(65, 82, 124, 0.6);
  color: #b9c6d1;
}

input:focus {
  outline: none;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.flex {
  display: flex;
  justify-content: space-around;
}

/* Header */

header {
  font-size: 24px;
  position: fixed;
  z-index: 2;
  left: 0;
  width: 100%;
  background: #121829;
  padding: 20px 0;
  border-bottom: 1px solid #a8aebf;
}

.header-nav {
  min-width: 376px;
}

.nav-link a {
  color: var(--nav-link-color);
  font-weight: 600;
  font-size: 26px;
  padding: 10px 0;
  line-height: 24px;
  border: 0;
  margin: 0;
  background-color: transparent;
  position: relative;
  opacity: 1;
}

/* полоска снизу для навигации */
.nav-link a::after,
.nav-link.active a::after {
  content: "";
  height: 2px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--nav-link-color);
  inset-inline: 0;
  transform: scaleX(0);
  transition: transform 0.2s ease;
  opacity: 1;
}

/* анимация линии при наведении на неактивную ссылку */
.nav-link a:hover::after {
  transform: scaleX(1);
  opacity: 0.65;
}

.nav-link a:hover {
  opacity: 0.65;
}

/* анимация линии при наведении на активную ссылку */
.nav-link.active a::after {
  background-color: var(--accent-color);
  transform: scaleX(1);
}

.nav-link.active a {
  color: var(--accent-color);
}

/* Footer */

footer {
  font-size: 24px;

  left: 0;
  bottom: 0;
  width: 100%;
  background: #121829;
  padding: 20px 0;
  border-top: 1px solid #a8aebf;
  color: #a8aebf;
}

/*Movie Details css */

.poster img {
  max-width: 100%;
  border-radius: 12px;
  width: 480px;
  height: 720px;
  min-height: 399px;
}

.details {
  position: relative;
  width: 100%;
  margin-top: 40px;
}

.description-container {
  margin-top: 10px;
}

.details-list-item-rating {
  padding: 8px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(4px);
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  color: #ffad49;
}

.text-details {
  max-width: 500px;
}

.film-overview {
  margin-top: 24px;
  width: 480px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #8e95a9;
}

.movie-details-container {
  position: absolute;
  top: -20px;
  left: 40px;
  padding: 10px 20px;
  width: 280px;
  background: rgba(32, 40, 62, 0.6);
  backdrop-filter: blur(1px);
  border-radius: 12px;
}

.movie-details-title {
  font-weight: 600;
  font-size: 32px;
  letter-spacing: -0.02em;
  color: #ebeef5;
}

.description-container {
  display: flex;
  justify-content: space-around;
}

.film_data_table td {
  width: 224px;
}

.film_data_table tr {
  height: 90px;
  vertical-align: top;
}

.film_data_table p {
  padding-top: 5px;
  color: #c3c8d4;
  font-size: 20px;
}

.film_data_table p:first-child {
  color: #767e94;
  font-size: 16px;
}

.details_backgr_image {
  position: absolute;
  top: 0;
  margin: 70px 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 12px;
}

.details_backgr_image_img {
  margin-top: -10%;
  width: 100%;
  height: auto;
  opacity: 0.2;
}
